/* .list{
    width: 300px;
    margin: 20px auto;
    height: 50px;
    background-color: purple;
    border-radius: 5px;
}
.list span{
    padding: 20px;
    position: relative;
    transition: ease-in-out;
} */